
@{
    ViewData["Title"] = "Error - Unable to Process your Request";
}

<h1>Oh No an Error has Occured</h1>

<h2>Unfortunately an Error has occured and the page was unable to be loaded.
    Please click one of the links in the navigation bar or below to try again</h2>