
@{
    ViewData["Title"] = "About";
}
<style>
    br {
        display: block;
        margin-top: 50px;
    }

    img {
        margin-left: 10px;
    }
</style>
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-center">About Me</h1>
                <hr />
                <img src="~/Images/BenKing.png" alt="Ben King" style="float: right; width: 200px;" />
                <p>
                    Hi, I'm Benjamin King or Ben as I like to be known.
                    I'm currently a Third Year (Final Year) Student studying a Bachelor
                    of Information Technology at the Invercargill Campus of the Southern Institute
                    of Technology.
                </p>
                <p>
                    As a High School student at James Hargest College I first encountered (and soon grew a love with)
                    Computer Programming through the Programmig Laguage <strong>Scratch</strong>. While Scratch was the begining
                    it taught me valuable skills such as thinkng about logic and incorporating alogritihims within a Program.
                </p>
                <p>
                    After a few years of Scratch I began to learn <strong>Delphi</strong>, as well as HTML and CSS. Both of these
                    taught me valuable Programming Skills that I have continued to build on especially HTML and CSS with how I have used these
                    to create this website.
                </p>
                <p>
                    Curently I am a proficient Developer with Microsoft C#, as well as HTML & CSS with experience
                    of the Bootstrap Framework. I also am a profficent Developer of the Structured Query Laguage (SQL) and
                    have experience in other languages such as Jade (Object Orientated Databases), Oracle Java and Android Studio.
                </p>

                <p class="text-center font-italic font-weight-light">
                        But before your read anymore, Thank You for having a look at my website. It's not pretty or snazzy, but everything on here has ben coded from scratch
                        so thank you for taking time out of your day to look at it and to learn about me!
                </p>
                <h2 class="text-center">What do I like to do in my Free Time?</h2>
                <p>
                    While I'm a keen Programmer it is always to have some good hobbies to fill in my Free Time!
                </p>
                <img src="~/Images/bikeTemp.jfif" alt="Ben King" style="float: right; width: 200px; height: 250px" />

                <p>
                    I'm a keen Cyclist (Road and Mountain Biking) and love to go for Day Walks and small Hikes.
                    I'm also a fan of the outdoors and while sometimes I can't stay off the grid, I do love to get a break from Technology!
                </p>
                <p>
                    I also love to volunteer, I love helping out in the local Community. Throughout High School I was involved in several
                    community and school events, volunteering my spare time to help out. While currently I don't have a lot of spare time
                    to help out and volunteer amongst work and SIT, I am currently a volunteer for the Southland Branch of the NZ Cancer Society
                    having helped out with the Presales and Setup of Daffodil Week 2019, as well as helping out in the past through James Hargest
                    with the setup of the Relay for Life.
                </p>
                <p>
                    I also love to read a good book, and can sometimes spend hours and hours reading a good Mystery Book that'll keep me
                    up late at night reading
                </p>

                <h2 class="text-center">My Recent Achievements</h2>
                <h4 class="text-muted">Southern Institute of Technology</h4>
                <img src="~/Images/SITPrizeGiving19.jpg" alt="Ben King" style="float: right; width: 300px; margin-left: 10px;" />

                <p>
                    In 2019 I was awarded the Top Jade Programming award for being the Top Student in my class for the paper.
                    JADE is an Object Orientated Database, which was difficult to learn due to how I had only previously experience
                    with Relational Databases (such as SQL). However due to my experience with Object Orientated Languages such as C# I
                    quickly got the <i>nack of it</i> and it became one of my favourite languages
                </p>
                <h4 class="text-muted">James Hargest College - 2017</h4>
                <p>At James Hargest College I obtained several Achievements in my final year including:</p>
                <ul>
                    <li><strong>Southland Youthmark Award</strong> - For services to the School and Local Community</li>
                    <li><strong>Trustpower Youth Community Spirit Award Finalist </strong> - For services to the School and Local Community</li>
                    <li><strong>The Dixon Cup for Serivce </strong>- For services to the School and Local Community</li>
                    <li><strong>Distinction Award for Digital Programming, Geography and Industry</strong> - Top Student in Individual Subjects (Geographhy & Digital    Programming) well as Excellence across all Classes overall</li>
                </ul>
            </div>

            <div class="col-md-4 pl-5">
                <div class="text-center">
                    <h1>Fun Facts</h1>
                    <hr />
                    <div>
                        <h5>Currently Reading:</h5>
                        <p>Private by James Patterson</p>

                        <h5>Current Project</h5>
                        <p>Working on this ASP.Net Core Website</p>

                        <h5>Favourite Dinner</h5>
                        <p>Beef Lasanage - Homemade</p>

                        <h5>Favourite Drink</h5>
                        <p>Good Old Classic <strong>L&P</strong></p>

                        <h5>Favourite Fruit</h5>
                        <p>Bannanas - Cos I'm a Monkey Inside</p>

                        <h5>Best things to do on a Hot Sunny Day</h5>
                        <p>Go for a Good Ride on the Bike, or walk a Track with Stunning Views</p>

                        <h5>Best things to do on a Cold Wintery Day</h5>
                        <p>Read a Thrilling Book, Watch an Action Packed Book or to do some Coding</p>

                        <h5>Favourite Quote</h5>
                        <p>
                            <i>
                                If you can't Fly, then Run,<br />
                                If you can't Run, then walk,<br />
                                If you can't walk, then Crawl,<br />
                                but whatever you do,<br />
                                you have to keep moving forward<br />
                                <strong>~ Martin Luther King Jr</strong>
                            </i>
                        </p>
                    </div>

                    <div class="mt-5">
                        <h1>Testominal</h1>
                        <hr />
                        <i class="text-center">
                            I am very grateful to the team - Henry. Ben Hollie & Jayekib - for all the effort and hard work they put into the project.
                            I asked for a website and Social Media Presence - Facebook, Instagram and Trip Advisor for my Business Lynette Jack Scenic Sights.
                            Right from the start of the project they listened to my vision of what I needed and engaged with me to produce the information 
                            and detail that was important for me. They happily answered any questions I had at the regular update meetings we had. 
                            They made me feel comfortable with their understanding of how I wanted to portray my business. They worked well as a team with each member 
                            taking a lead with different aspects of the project. I would certainly recommend each of the team members together or individually to anyone who wanted to employ them in the future to take on an IT Project.<br />
                            <a target="_blank" href="http://ljscenicsights.co.nz"><strong>~ Lynette from Lynette Jack Scenic Sights</strong></a>
                        </i>
                    </div>
                </div>
            </div>

        </div>
    </div>
