
@{
    ViewData["Title"] = "Confirmation";
}
    <br />
<h3>Thank you for your message, it has been successfully sent. </h3>
<h4>I will be in contact shortly.</h4>
<h5>Feel free to continue to explore my website and to learn more about me</h5>
