
@{
    ViewData["Title"] = "Portfolio";
}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 220px;
      }


    </style>
         <section class="jumbotron text-center">
            <div class="container">
                <h1>Portfolio</h1>
                <p class="lead text-muted">Below are a selection of Projects and Applications that I have worked on recently. More can be found and explored on my GitHub Repository</p>
                <p>
                    <a href="https://github.com/benk9810nz" target="_blank" class="btn btn-primary my-2">Benjamin King - GitHub</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/Screenshot4.png" />
                            <div class="card-body">
                                <p class="card-text">This website is another Project I have worked on, using a ASP.NetCore MVC with HTML/CSS/BootStrap</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://github.com/benk9810nz/Website-Portfolio" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="https://github.com/benk9810nz/Website-Portfolio/archive/master.zip" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2020</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/SSJade.png" />
                            <div class="card-body">
                                <p class="card-text">A JADE Object Orientated Database for a Flight Booking System with different Access Levels</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://github.com/benk9810nz/Jade-Flight-Booking-System" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="https://github.com/benk9810nz/Jade-Flight-Booking-System/archive/master.zip" target="_blank" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2019</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/Screenshot3.png" />
                            <div class="card-body">
                                <p class="card-text">As a member of a Group I helped create an <strong>Onine Prescence</strong> for local business Lynette Jack Scenic Sights</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" target="_blank" href="~/Assets//LJScenicSightsBrief.pdf">View</a>
                                        <a href="~/Assets/LJ Scenic Sights.pdf" target="_blank" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2019</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/unity.png" />
                            <div class="card-body">
                                <p class="card-text">As a Member of a Group I helped to create a simple Game using the Unity Engine</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://github.com/benk9810nz/Unity-Project" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="https://github.com/benk9810nz/Unity-Project/archive/master.zip" target="_blank" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2019</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/memoryGame.png" />
                            <div class="card-body">
                                <p class="card-text">A Simple C# Memory Game using Playing Cards as the Photos to match with different modes</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://github.com/benk9810nz/Memory-Game" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="https://github.com/benk9810nz/Memory-Game/archive/master.zip" target="_blank" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2019</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/DVDApp.png" />
                            <div class="card-body">
                                <p class="card-text">A C# Application that reads and writes information to and from a DVD a SQL Database</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://github.com/benk9810nz/DVD-APP" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="https://github.com/benk9810nz/DVD-APP/archive/master.zip" target="_blank" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2020</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/sqlrental.png" />
                            <div class="card-body">
                                <p class="card-text">A SQL Database Script for a Rental Car Comapny with a ERD and accompanying Documentation <br /></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://github.com/benk9810nz/SQL-Rental-Company" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="https://github.com/benk9810nz/SQL-Rental-Company/archive/master.zip" target="_blank" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2019</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/Screenshot1.png" />
                            <div class="card-body">
                                <p class="card-text">A Simple C# Hangman Application allowing the Player to play different Levels & Modes</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a target="_blank" href="https://github.com/benk9810nz/Hangman" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a target="_blank" href="https://github.com/benk9810nz/Hangman/archive/master.zip" class="btn btn-sm btn-outline-secondary">Download</a>
                                    </div>
                                    <small class="text-muted">2018</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top img-fluid" role="img" alt="Alternate Text" src="~/Images/Portfolio/rubbertree.png" />
                            <div class="card-body">
                                <p class="card-text">An Office Simulation for a Case Study Insurance Company (Hardware & Network Setup) <br /></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="~/Assets/RubberTreeInsurance.pdf" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted">2018</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>